/* src/Wardrobe.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #dad6d8, #888888);
    padding: 10px 20px;
  }
  
  .nav-left,
  .nav-right {
    display: flex;
    gap: 20px;
  }
  
  .nav-left a,
  .nav-right a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-left a:hover,
  .nav-right a:hover {
    color: #0d7909;
  }
  
  .nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .logo3 {
    width: 120px;
    height: auto;
  }

  .clothes, .user, .create{
    width: 80px;
  }
  
  @media (max-width: 480px) {
    .navbar {
      flex-direction: column;
      gap: 10px;
    }
  
    .nav-left,
    .nav-right {
      gap: 10px;
    }
  
    .logo3 {
      width: 100px;
    }
  }
  .account-box {
    margin: 20px auto;
    padding: 20px;
    background: #ffffffaa;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 10px #0003;
  }
  
  .account-logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #ff0055;
  }
  .tabs {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .tabs button {
    padding: 8px 15px;
    border: none;
    background: #ccc;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .tabs .active {
    background: #ff0055;
    color: white;
  }
  
  .edit-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .edit-form input {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #aaa;
  }
  
  .save-btn {
    margin-top: 15px;
    background: #ff0055;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
  }