/* src/Wardrobe.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #dad6d8, #888888);
    padding: 10px 20px;
  }
  
  .nav-left,
  .nav-right {
    display: flex;
    gap: 20px;
  }
  
  .nav-left a,
  .nav-right a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-left a:hover,
  .nav-right a:hover {
    color: #0d7909;
  }
  
  .nav-center {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .logo3 {
    width: 120px;
    height: auto;
  }

  .clothes, .user, .create{
    width: 80px;
  }
  
  /* Opcjonalnie: responsywność */
  @media (max-width: 480px) {
    .navbar {
      flex-direction: column;
      gap: 10px;
    }
  
    .nav-left,
    .nav-right {
      gap: 10px;
    }
  
    .logo3 {
      width: 100px;
    }
  }
  
  .wardrobe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
    padding: 30px;
    background: linear-gradient(90deg, #dad6d8, #888888);
  }
  
  .wardrobe-card {
    background: url(assets/wall.jpg);
    background-position: 20% 30%;
    border: 2px solid #ff0055;
    border-radius: 12px;
    text-align: center;
    padding: 30px 15px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 4px black;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
  }
  
  .wardrobe-card:hover {
    transform: scale(1.08);
    box-shadow: 0 0 10px #ff0055, 0 0 20px #00ff0d;
  }
  